{% extends 'base/layout.html.twig' %}
{% block head %}
    <title>Blacknachos - Home</title>
{% endblock %}
{% block content %}

<div class="container" style="position: absolute; z-index: 10; margin-top: 50px">
    <div class="row">
        <div class="col-6" style="float:left; margin-left: 60px;"> <button type="button" class="btn btn-info"><a href="/login" role="button">Login</a></button></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <img src="https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-1.jpg" alt="Lorem ipsum" class="img-responsive img-rounded">
    </div>
</div>

{% endblock %}
