{% extends 'base/layout.html.twig' %}
{% block head %}
    <title>Blacknachos - Article</title>
    <style type="text/css">
        input {
            margin-left:20px;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>{{ article.title }}</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <h2>{{ article.slug }}</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <img src="{{ article.image }}" alt="{{ article.title }}" class="img-responsive img-rounded">
    </div>
</div>
<div class="container">
    <div class="row">
        <p>{{ article.description }}</p>
    </div>
</div>
{% endblock %}
