{% extends 'base/layout.html.twig' %}
{% block head %}
    <title>Blacknachos - Articles</title>
    <style type="text/css">
        input {
            margin-left:20px;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Articles</h1>

    <div class="container">

            <div class="row">
                <div class="col-sm-3">
                    <h3>Tile</h3>
                </div>
                <div class="col-sm-3">
                    <h3>Description</h3>
                </div>
                <div class="col-sm-3">
                    <h3>Slug</h3>
                </div>
                <div class="col-sm-3">
                    <h3>url</h3>
                </div>
            </div>
    </div>
    <div class="clearfix"></div>
    {% for article in articles %}
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    {{ article.title }}
                </div>
                <div class="col-sm-3">
                    {{ article.description|slice(0, 150) }}
                </div>
                <div class="col-sm-3">
                    {{ article.slug  }}
                </div>
                <div class="col-sm-3">
                    <a href="/article/{{ article.id  }}" target="_blank">{{ article.title }}</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    {% endfor %}
{% endblock %}
