{% extends 'base/layout.html.twig' %}
{% block head %}
<style type="text/css">
    input { margin-left:20px;}
</style>
{% endblock %}
{% block content %}
<div class="raw" style="padding: 20px;">
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path('login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />
        <input type="hidden" name="_target_path" value="/listarticles" />
        <button type="submit">login</button>
    </form>

    <div class="raw">
        <a href="/register" role="button">registration</a>
    </div>

</div>

{% endblock %}
