{% extends 'base/layout.html.twig' %}
{% block head %}
    <style type="text/css">
        input {
            margin-left:20px;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container" style="padding: 20px;">
    <div class="row">
    {{ form_start(form) }}
        <div class="row">
        {{ form_row(form.username) }}
        </div>
        <div class="row">
        {{ form_row(form.email) }}
        </div>
        <div class="row">
        {{ form_row(form.plainPassword.first) }}
        </div>
        <div class="row">
        {{ form_row(form.plainPassword.second) }}
        </div>
        <div class="row">
        <button type="submit">Register</button>
        </div>
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
